body {
}


.tableNewEntidade {
    color: #d6ecff;
    font-family: Ubuntu;
    font-size: 14px;
    margin-bottom: 5%;
}

.tableNewEntidade {
    margin-top: 15px;
}

.titleGridRoundEsq {
    border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    color: black;
    font: normal 15px Ubuntu;
    width: 29px;
    background-image: url('../Layout/img/tableFundoV2.png');
}


.titleGridRoundDir {
    border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    color: black;
    font: normal 15px Ubuntu;
    width: 99px;
    background-image: url('../Layout/img/tableFundoV2.png');
}

.tableNewEntidade td {
    background-color: #EEEEEE;
}

.roundCorner {
    width: 50%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}

.titleGrid {
    color: black;
    font: normal 15px Ubuntu;
    width: 99px;
    background-image: url('../Layout/img/tableFundoV2.png');
}
