
html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 2px 43px; /* bottom = footer height */
    background-color: #e9eaed;
}

.divRecoverExterior {
    width: 100%;
    height: auto;
}

.divExteriorLogin {
    width: 500px;
    background-color: #0D4465;
    border: 2px solid #0D4465;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: #0D4465 0 0 5px 5px;
}

.divPanel1 {
    width: 100%;
    height: auto;
}

.divRegister {
    width: 100%;
    height: auto;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 43px;
    width: 100%;
}

.ie {
    background-color: #e9eaed;
    margin: 0px;
    height: 100%;
    padding: 0px;
}

    .ie .divRegister {
        margin-top: 10%;
    }

    .ie .divRecover {
        margin-top: 19%;
    }

.loginBox {
    background-color: #0d4465;
}

.ie .boxChangePass {
    background-color: #0d4465;
    width: 57%;
    margin-left: 31%;
    margin-top: 17%;
    height: 28%;
}

.boxChangePass {
    background-color: #0D4465;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9%;
    margin-bottom: 2%;
    width: 593px;
    height: 310px;
    border-radius: 10px;
}

.ie .boxRegister {
    background-color: #0d4465;
    width: 56%;
    margin-left: 31%;
    margin-top: 8%;
}

.boxRegister_info_log {
    background-color: #0d4465;
    width: 44%;
    margin-left: 28%;
    margin-top: 2%;
    border-radius: 10px;
}

.boxRegister {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: #0D4465 0 0 5px 5px;
    background-color: #0D4465;
    border: 2px solid #0D4465;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 600px;
}

.boxRecover {
    background-color: #0d4465;
    width: 650px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -18%;
    margin-bottom: 5%;
}

.popup_contato_success {
    width: 100%;
    color: #d6ecff;
    font-family: Ubuntu;
    font-size: 12px;
    background: #7f7f7f;
    background: rgba(255,255,255,0.15);
    padding-bottom: 5px;
}

.popup_contato_suporte {
    width: 100%;
    color: #d6ecff;
    font-family: Ubuntu;
    font-size: 12px;
    padding-left: 5px;
    background: rgba(255,255,255,0.15);
    padding-bottom: 5px;
    height: 150px;
}

.ie .boxChangePass {
    background-color: #0D4465;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 7%;
    height: 50%;
    border-radius: 10px;
}


.popup_contato {
    width: 99.5%;
    color: #d6ecff;
    font-family: Ubuntu;
    font-size: 12px;
    padding-left: 5px;
    background: rgba(255,255,255,0.15);
    padding-bottom: 5px;
    height: 150px;
}

.ie .boxRecover {
    background-color: #0d4465;
    width: 56%;
    margin-left: 31%;
    margin-top: 19%;
}

.loginBoxBehindTransp3 {
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: #D6ECFF 0 0 1px 1px;
    height: 155px;
    margin-left: 4%;
    margin-top: 2%;
    margin-bottom: 4%;
    opacity: 0.2;
    position: relative;
    width: 500px;
}


.loginBoxBehind3 {
    background-color: #0D4465;
    border: 2px solid #0D4465;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: #0D4465 0 0 5px 5px;
    height: 255px;
    width: 550px;
}


.loginBoxBehindTransp2 {
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: #D6ECFF 0 0 1px 1px;
    height: 120px;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 10%;
    opacity: 0.2;
    position: relative;
    width: 528px;
}


.loginBoxBehindTransp {
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: #D6ECFF 0 0 1px 1px;
    height: 158px;
    margin-left: 9.2%;
    margin-top: 4%;
    opacity: 0.2;
    position: relative;
    width: 400px;
}

.ie .loginBoxBehindTransp {
    margin-top: 6%;
    margin-left: 4%;
    filter: "alpha(opacity=10)";
    position: relative;
}

.textLabels td {
    padding-top: 5%;
}

.tableButtons {
    margin-left: 8.5%;
    margin-top: 15px;
}

.ie .tableButtons {
    margin-left: 0%;
    width: 100%;
}

.tableContentLogin {
    width: 100%;
    margin-left: 12%;
    table-layout: fixed;
    margin-top: 2%;
}


.ie .tableContentLogin {
    margin-top: 0%;
    margin-left: 9%;
    width: 85%;
}

.loginContent {
    height: 155px;
    margin-top: -36%;
    width: 97%;
    position: relative;
}



.ie #Login1 {
    width: 105%;
}

.tdCenter {
    margin: 0 auto;
}

.dropDown {
    width: 77%;
}

.ie .dropDown {
}

.ie .tdCenter {
    margin: 0 auto;
}

.loginBoxBehind {
    background-color: #0D4465;
    border: 2px solid #0D4465;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: #CCCCCC 0 0 3px 3px;
    height: 255px;
    width: 485px;
    padding-left: 6%;
    padding-top: 5%;
    text-align: center;
    margin-top: 55px;
}

.imgRecPwd {
    margin-left: 23%;
}

.ie .tableRegister th {
    color: #D6ECFF;
    font-weight: bold;
    font-family: Ubuntu;
    font-size: 20px;
    padding-bottom: 13px;
}

.ie .tableRegister td {
    padding: 5px;
}

.ie #tableRegisterStep2 {
    table-layout: fixed;
    margin-top: 11px;
}

.ie .tableRegisterStep3 {
    margin-top: 2px;
    color: #d6ecff;
    font-family: Ubuntu;
    font-size: 14px;
}

.tableRegisterStep3 {
    margin-top: 2px;
    color: #d6ecff;
    font-family: Ubuntu;
    font-size: 14px;
    margin-left: 5%;
}

#tableRegisterStep2 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.ie #tableRegisterStep2 td {
    padding-right: 20px;
}

#tableRegisterStep2 td {
    white-space: nowrap;
}

#tableRegisterStep2 th {
    padding-right: 14%;
    color: #D6ECFF;
    font-weight: bold;
    font-family: Ubuntu;
    font-size: 20px;
    padding-bottom: 3%;
}

.ie #tableRegisterStep2 th {
    padding-right: 30px;
    color: #D6ECFF;
    font-weight: bold;
    font-family: Ubuntu;
    font-size: 20px;
    padding-bottom: 13px;
}

.ie .tableRegister tr {
    padding-bottom: 5%;
}

.tableRegister th {
    color: #D6ECFF;
    font-weight: bold;
    font-family: Ubuntu;
    font-size: 20px;
    padding-bottom: 13px;
}


.tableRegister td {
    padding: 5px;
}

.tableRegister tr {
    padding-bottom: 5%;
}

.title {
    margin-top: 1%;
    margin-left: 37px;
    color: #D6ECFF;
    font-weight: bold;
    font-family: Ubuntu;
    font-size: 20px;
    margin-bottom: 1%;
}


.ie .title {
    margin-top: 0%;
    margin-left: 1%;
    width: 110%;
}

.checkbox {
    display: none;
}

.messageError_required_field_2 {
    height: auto;
    background-color: #FEDAD8;
    margin-left: 45px;
    text-align: center;
    font: bold 12px Ubuntu;
    color: #F00;
}

.messageError_required_field {
    height: auto;
    background-color: #FEDAD8;
    text-align: center;
    font: bold 12px Ubuntu;
    color: #F00;
}

.messageError {
    height: 28px;
    margin-top: 1%;
    margin-left: 0%;
    background-color: #FEDAD8;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    font: bold 14px Ubuntu;
    color: #F00;
    padding-top: 2%;
}

.messageError_recover2 {
    height: 28px;
    margin-top: -2%;
    margin-left: -5.5%;
    background-color: #FEDAD8;
    width: 109%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    font: bold 14px Ubuntu;
    color: #F00;
    padding-top: 2%;
}

.messageError_recover {
height: 28px;
margin-top: -11%;
margin-left: -1.5%;
background-color: #FEDAD8;
width: 106%;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
text-align: center;
font: bold 14px Ubuntu;
color: #F00;
padding-top: 2%;
}

.ie .messageError {
    padding-left: 68px;
    width: 109%;
}



.messageError_1 {
    background-color: #FEDAD8;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #FF0000;
    float: right;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    height: 23px;
    line-height: normal;
    margin-top: 6px;
    padding-top: 1px;
    text-align: center;
    width: 83%;
    padding-left: 0%;
    margin-right: 7.5%;
}

.ie .messageError_1 {
    padding-bottom: 2%;
    padding-left: 27px;
    width: 97%;
}


.messageError_3 {
    height: 40px;
    margin-top: 1%;
    margin-left: 0%;
    background-color: #FEDAD8;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    font: bold 14px Ubuntu;
    color: #F00;
    padding-top: 2%;
}

.ie .messageError_3 {
    padding-left: 35px;
}


.messageError_2 {
    height: 28px;
    margin-top: 0%;
    margin-left: 0%;
    background-color: #FEDAD8;
    width: 102.5%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    font: bold 14px Ubuntu;
    color: #F00;
    padding-top: 2%;
}

.ie .messageError_2 {
    margin-top: 8%;
    padding-left: 10px;
}


.button_continue {
    background-color: transparent;
    width: 155px;
    height: 42px;
    background-image: url('../Layout/img/continuar.png');
}




.buttonLogin {
    background-color: transparent;
    width: 155px;
    height: 40px;
    margin-top: 0%;
    margin-left: -17%;
    background-image: url('../Layout/img/login_btn.png');
    cursor: pointer;
}

.docs_email_suporte {
    color: #d6ecff;
    font-family: Ubuntu;
    font-size: 12px;
    margin-top: 0%;
    margin-left: 5px;
}


.ie .buttonLogin {
    margin-top: -3%;
    margin-left: -4%;
}

.textLabels {
    color: #d6ecff;
    font-family: Ubuntu;
    margin-top: 10%;
    font-size: 13px;
    text-align: right;
    table-layout: fixed;
}

.ie .tableRegister {
    color: #d6ecff;
    font-family: Ubuntu;
    font-size: 14px;
    margin-top: 5%;
    margin-left: 3%;
}

.tableRegister {
    width: 100%;
    color: #d6ecff;
    font-family: Ubuntu;
    font-size: 12px;
    margin-top: 0%;
    margin-left: 5px;
}

#tableRecover {
    color: #d6ecff;
    font-family: Ubuntu;
    font-size: 14px;
    margin-top: -2%;
    margin-left: 7%;
    width: 100%;
}

.tableRecoverv2 {
    color: #d6ecff;
    font-family: Ubuntu;
    font-size: 12px;
    width: 100%;
}

.tableRecover_sucess {
    color: #d6ecff;
    font-family: Ubuntu;
    font-size: 14px;
    margin-top: 4%;
    margin-left: 10%;
    width: 100%;
}

.fieldset_reg_log {
    width: 88%;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 10px;
    color: #D6ECFF;
}

.fieldset_legend {
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: bold;
    color: #D6ECFF;
}

.fieldset_reg {
    width: inherit;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 10px;
    color: #D6ECFF;
}

.label_header_reg_sucess {
    font-family: ubuntu;
    font-size: 16px;
    color: #D6ECFF;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

.label_header_reg {
    font-family: ubuntu;
    font-size: 16px;
    color: #D6ECFF;
    padding-left: 10px;
}

.ie #tableRecoverv2 {
    color: #d6ecff;
    font-family: Ubuntu;
    font-size: 14px;
    margin-left: 17px;
    margin-top: 19px;
}

.ie #tableRecover {
    color: #d6ecff;
    font-family: Ubuntu;
    font-size: 14px;
    margin-left: 17px;
    margin-top: 11px;
}

#tableRecover td {
    padding-bottom: 10px;
}

.ie #tableRecover td {
    padding-bottom: 10px;
}

.tableRecoverv2 td {
    padding-bottom: 10px;
}

.tableRecoverv2 td {
    padding-bottom: 10px;
}


.ie #tableChangePwd {
    color: #d6ecff;
    font-family: Ubuntu;
    font-size: 14px;
    margin-left: 13px;
    margin-top: 12px;
}

#tableChangePwd {
    color: #d6ecff;
    font-family: Ubuntu;
    font-size: 14px;
    margin-top: 4%;
    margin-left: 5%;
}

.ie #tableChangePwd td {
    padding-bottom: 14px;
}

#tableChangePwd td {
    padding-bottom: 10px;
}

.titleRecover {
    font-size: 18px;
    font-weight: bold;
    color: #d6ecff;
    font-family: Ubuntu;
    margin-left: 16px;
}

.ie textLabels {
    border-collapse: expression('separate', cellSpacing = '7px');
}

.inputColor {
    background-color: #f3f7fa;
    width: 250px;
    height: 22px;
}

.ie .inputRegister {
}

.inputRegister {
    width: 300px;
}

.footer {
    border-top: 1px solid gray;
    clear: both;
}

.ie #pnlContent {
    clear: both;
    padding: 0;
    top: 0px;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
}

.widthInput {
    width: 67%;
}

.loginBoxBehind2 {
    height: 220px;
    width: 556px;
    background-color: #0D4465;
    border: 2px solid #0D4465;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: #0D4465 0 0 5px 5px;
}

/****************************************** FILEUPLOAD *****************************************/
.loading_fileupload {
    width: 105%;
    height: 20px;
}

/****************************************** CENTRAR DIV LOGIN *****************************************/
.outer {
    display: table;
    position: fixed;
    height: 84%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 500px /*whatever width you want*/;
}

/****************************************** CENTRAR REGISTO DE UTILIZADORES *****************************************/
.inner_reg {
    margin-left: auto;
    margin-right: auto;
    width: 600px /*whatever width you want*/;
}

/****************************************** CENTRAR RECOVER PASSWORD *****************************************/
.inner_rec {
    margin-left: auto;
    margin-right: auto;
    width: 556px; /*whatever width you want*/
}

/****************************************** CENTRAR ALTERAR PASSWORD*****************************************/
.inner_alt {
    margin-left: auto;
    margin-right: auto;
    width: 550px; /*whatever width you want*/
}

/****************************************** CENTRAR HOME*****************************************/
.inner_home {
    margin-left: auto;
    margin-right: auto;
    min-width: 800px;
}


/****************************************** CENTRAR HOME LOGIN *****************************************/
.outer_success {
    display: table;
    position: absolute;
    height: 60%;
    width: 99%;
}

/****************************************** CENTRAR REGISTO*****************************************/

.outer_reg {
    display: table;
    position: fixed;
    height: 88%;
    width: 100%;
}
