<html>
<body >
<p style="font-size:medium; color:black;"> <b> Sistema Gest&atilde;o e Requisi&ccedil;&atilde;o de Acessos</b></p><br>
<p style="color:black;">A sua palavra chave foi reiniciada, <%UserName%></p>  <br>
<p style="color:black;">
De acordo com os seus registo, voc&ecirc;s requeriu a altera&ccedil;&atilde;o da palavra chave, a sua nova password &eacute;:&nbsp;&nbsp;<u><%Password%> </u>   <br><br>

Se surguir alguma quest&atilde;o ou problema para se autenticar por favor contate o administrador do site atrav&eacute;s do pedido de suporte no canto inferior direito da aplica&ccedil;&atilde;o.
<br><br >
Obrigado!
    </p>
</body>
</html>