<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="/SGRA" value="/SGRA" />
    
  </appSettings>
  <connectionStrings>
    <remove name="LocalMySqlServer" />
    <!--<add name="LocalMySqlServer" connectionString="Datasource=127.0.0.1;Database=acessos;uid=root;pwd=root;" providerName="MySql.Data.MySqlClient"    />-->
    <add name="LocalMySqlServer" connectionString="Datasource=127.0.0.1;Database=acessos;uid=admin_sgra;pwd=::GJS(R,3L}jvruTL4pe$;" providerName="MySql.Data.MySqlClient"    />
  </connectionStrings>
  <system.web>
    <sessionState timeout="30"/>
       <membership defaultProvider="MySqlMembershipProvider">
      <providers>
        <clear/>
        <add name="MySqlMembershipProvider"
             type="MySql.Web.Security.MySQLMembershipProvider, MySql.web"
             connectionStringName="LocalMySqlServer"
             enablePasswordRetrieval="false"
             enablePasswordReset="true"
             requiresUniqueUsername="true"
             requiresQuestionAndAnswer="true"
             requiresUniqueEmail="true"
        passwordFormat="Clear"
             maxInvalidPasswordAttempts="3"
             minRequiredPasswordLength="7"
             minRequiredNonalphanumericCharacters="1"
             passwordAttemptWindow="10"
             applicationName="SGRA"
             autogenerateschema="true"/>
       </providers>
    </membership>
        <roleManager enabled="true" defaultProvider="MySqlRoleProvider">
      <providers>
        <clear />
        <add connectionStringName="LocalMySqlServer"
             applicationName="SGRA"
             name="MySqlRoleProvider"
             type="MySql.Web.Security.MySQLRoleProvider, MySql.web"
             autogenerateschema="false"/>
      </providers>
    </roleManager>
    <profile>
      <providers>
        <clear/>
        <add type="MySql.Web.Security.MySqlProfileProvider, mysql.web"
             name="MySqlProfileProvider"
             applicationName="SGRA"
             connectionStringName="LocalMySqlServer"
             autogenerateschema="true"/>
      </providers>
    </profile>
    <authentication mode="Forms">
      <forms loginUrl="Default.aspx" protection="All" slidingExpiration="false" requireSSL="false" defaultUrl="~/Users/home.aspx"  />  
    </authentication>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime targetFramework="4.0" executionTimeout="36000" maxRequestLength="1048576" />
    <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="aerogarelajes@gmail.com">
        <network host="smtp.gmail.com" password="admin%1986" userName="aerogarelajes@gmail.com" enableSsl="true" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.4" newVersion="2.1.0.4" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.1.0" newVersion="5.6.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>